@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-yellow);
}

body {
  font-family: var(--font-family-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(0, 0%, 42%);
  --color-gray-950: hsl(0, 0%, 7%);
  --font-family-primary: "Figtree", sans-serif;
  --font-weight-regular: 500;
  --font-weight-bold: 800;
  --font-size-lrg: 24px;
  --font-size-med: 16px;
  --font-size-sml: 14px;
  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

/* Base Classes */
/* Text Presets */
.text-preset-1 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: clamp(20px, 0.3756vw + 18.5915px, var(--font-size-lrg));
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  /* 16px (desktop) ↔ 14px (mobile) */
  font-size: clamp(14px, 0.1878vw + 13.2958px, var(--font-size-med));
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: clamp(12px, 0.1878vw + 11.2958px, var(--font-size-sml));
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-3-bold {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: clamp(12px, 0.1878vw + 11.2958px, var(--font-size-sml));
  line-height: 1.5;
  letter-spacing: 0;
}

/* Colours */
/* Yellow */
.bg-yellow {
  background-color: var(--color-yellow);
}

.c-yellow {
  color: var(--color-yellow);
}

/* Light Grey */
.bg-500 {
  background-color: var(--color-gray-500);
}

.c-500 {
  color: var(--color-gray-500);
}

/* Grey */
.bg-950 {
  background-color: var(--color-gray-950);
}

.c-950 {
  color: var(--color-gray-950);
}

.br-lrg {
  border-radius: 20px;
}

.br-med {
  border-radius: 10px;
}

.br-sml {
  border-radius: 4px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-300);
  height: 100vh;
  padding: 0 24px;
}

.blog-card {
  background-color: var(--color-white);
  max-width: 389px;
  width: 100%;
  padding: var(--spacing-300);
  border: 1px solid var(--color-gray-950);
  box-shadow: 8px 8px 0px #000;
  transition: 0.3s all ease-in-out;
}
.blog-card:hover {
  box-shadow: 16px 16px 0px #000;
  cursor: pointer;
}
.blog-card:hover h2 {
  color: var(--color-yellow);
}
.blog-card__image {
  margin-bottom: var(--spacing-300);
}
.blog-card__image img {
  display: block;
  width: 100%;
  height: auto;
}
.blog-card__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-150);
}
.blog-card__header span:first-of-type {
  padding: var(--spacing-50) var(--spacing-150);
}
.blog-card__content {
  margin: var(--spacing-150) 0 var(--spacing-300);
}
.blog-card__author {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}
.blog-card__avatar {
  width: 32px;
  height: 32px;
}

/*# sourceMappingURL=styles.css.map */
